<div class="comment_box" id="comment-<%= comment.id%>"><p>
<strong>Commenter:</strong>
<%= comment.commenter %>
</p>

<p>
<strong>Comment:</strong>
<%= comment.body %>
</p>

<p>
  <button class="btn btn-info" id="<%= comment.id%>" onClick="hideIt(this.id)">Ocultar Comentario</button>
  <button class="btn btn-info"><%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></button>
</p>
</div>